header {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.ad-sup {
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Seaweed Script";
  font-size: 8em;
  font-weight: normal;
  margin: 1rem 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: blanchedalmond;
}
main .battery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  background-color: aqua;
}
main .battery .battery__tom {
  border: none;
  border-radius: 50%;
}
main .battery .battery__tom:hover {
  background-color: red;
}
main .battery .battery__tom--small {
  width: 100px;
  height: 100px;
  background-color: blue;
}
main .battery .battery__tom--medium {
  width: 150px;
  height: 150px;
  background-color: cadetblue;
}
main .battery .battery__top {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: blueviolet;
}
main .battery .battery__middle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: chocolate;
}
main .battery .battery__middle #tom3 {
  margin-right: 2rem;
  margin-bottom: -1rem;
  align-self: flex-end;
}
main .battery .battery__middle #tom4 {
  margin-right: 1rem;
  margin-top: -3rem;
}
main .battery .battery__middle #tom5 {
  margin-left: 1rem;
  margin-top: -3rem;
}
main .battery .battery__middle #tom6 {
  margin-left: 2rem;
  margin-bottom: -1rem;
  align-self: flex-end;
}
main .battery .battery__buttom {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .battery .battery__buttom #tom7 {
  margin-right: 2rem;
}
main .battery .battery__buttom #tom9 {
  margin-left: 2rem;
}

footer {
  margin-top: 1em;
}

.ad-inf {
  display: flex;
  background-color: lightgray;
  height: 5em;
  justify-content: center;
  align-items: center;
}